<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285316068780-e3dtsrgcq24kugvi3ijsv3k5hia2vn6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285316068780-e3dtsrgcq24kugvi3ijsv3k5hia2vn6a</string>
	<key>API_KEY</key>
	<string>AIzaSyD1F9AJgq6k4N99pan-fPioh0DfClBJUVo</string>
	<key>GCM_SENDER_ID</key>
	<string>285316068780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.Vineet.TwitterNEU</string>
	<key>PROJECT_ID</key>
	<string>neutwitter-ccdcb</string>
	<key>STORAGE_BUCKET</key>
	<string>neutwitter-ccdcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285316068780:ios:339a108cd319a9b95cb609</string>
	<key>DATABASE_URL</key>
	<string>https://neutwitter-ccdcb.firebaseio.com</string>
</dict>
</plist>